#commentform input.error, #commentform textarea.error {
	background-color: #f99;
}
#commentform div.error, #commentform label.error {
	color: red;
}
#commentform div.errorlabels label {
	display: block;
}